<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p th:text="${working.name+' 님의 오늘 근무 스케쥴은 '+result+' 입니다'}" ></p>

<span id="text" th:text="'출근 시각 '+${working.cometime}"></span> <br> <br>
<span id="text2" th:text="'퇴근 시각'+${working.gotime}"></span> <br> <br>
<span id="nowtext" th:text="'현재 출근 상태:'+${working.isworking}"></span> <br> <br>

<input value="출근" type="button" onclick="makecommute()">
<input value="퇴근" type="button" onclick="quitcommute()">
<br>

<input value="초기화" type="button" onclick="reset()">

<br>
<br>

<table border="1">
    <thead>
    <tr>
        <th colspan="3">ㅁㅁ부서</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="dto, iterStat : ${list}">
        <!-- 매 세 번째 요소마다 새로운 행을 시작합니다 -->
        <th:block th:if="${iterStat.index % 3 == 0}">
            </tr><tr>
        </th:block>
        <!-- 각 사원 정보를 셀에 출력합니다 -->
        <td>
            <img th:src="@{/images/__${dto.getName()}__.png}" alt="내 이미지"> <br>
            <span th:text="${dto.getName()}"></span> :
            <span th:text="${dto.getIsworking()}"></span><br>
            <a th:href="@{'/mail/sendmail/' + ${dto.empno}}">
                <img th:src="@{/images/mailicon.png}" alt="메일" width="20" height="20">
            </a><br>
        </td>
    </th:block>
    </tbody>
</table>




<script src="/js/storeDataSendAjax.js"></script>
<script th:inline="javascript">
    var resultValue = /*[[${result}]]*/ '';
</script>
</body>
</html>