<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<input type="button" value="일반적인 마이페이지 기능들... ">
<input type="button" value="일반적인 마이페이지 기능들...1 ">
<input type="button" value="일반적인 마이페이지 기능들...2 ">


<th:block th:if="${authority=='row'}">
<table border="1">
    <td> 이 테이블은 부서장 권한 (authority=row) 이 있어야 보이는 테이블이며 팀원의 휴가 신청 내역 등을 받아와 팀장이 승인을 해야 휴가에 인풋 되게 하면 될듯. <br>
        개인이 휴가 신청하는게 바로 insert 되면 진짜 이상함. <br>
        이 외에 부서원 현황이나 그런 건 메인 페이지에서도 띄워주고 있으니 나중에 부서원들의 연장 근로 시간이나 <br>
        이 주의 근무 시간 같은 것을 부서장만 확인할 수 있게 한다거나 부서장을 위한 뭔가를 주면 됨
    </td>

</table>

 </th:if>
</th:block>


</body>
</html>